*.pyc
*.swp
*.swo
htmlcov*
.coverage
*.orig
*.sh
*.pem
*.egg-info
*.mo
virtualenv
prometeo-tests.log
docs/build
*.log
prometeo/static/cuserr.py
aeatstub/
*.sqlite
.ropeproject
coverage.xml
nosetests.xml
